*{
	margin: 0px;
	padding:0px;
	font-family: sans-serif;
	font: #ff2f44 ;
	display: block;
}

.color1 {
	font-family: sans-serif;
	font: #ff2f44 ;
} 

.color2 {
	font: #2fffdc;
}

.color3 {
	font:#acff2f;
}

.gray {
	font-family: sans-serif;
	color: #454340;
}

.footer {
	background-color: #454340;
	position: fixed;
	bottom: 0px;
	height: 30px;
}

.makeSeqBtn{
	background-color: #ff2f44;
	color: #fff;
	font-size: 1.5rem;
	height: 80px;
	width: 220px;
	border: 2px dotted #35e864;
	border-radius: 5px;
	padding: 5px 10px;;
	margin:50px 25px;
}

.makeSeqBtn:hover{
	background-color: #35e864;
	color: #000;
	border: 0px none;
}


.center{
	text-align: 0px; 
	width: 50%;

}

.row1 {
   background-color: #fff;
   height: 200px;
}

.row2 {
   background-color: #333;
   height: 400px;
   padding: 5%;
}

.row2 img, .row3 img{
	max-height: 90%;
	padding: 30px
}

.row3 {
   background-color: #666;
}

.left{
	float:left;
}

.text{
	width:80%;
	border: 2px solid #222;
	padding: 20px;
	margin:5%;
	background-color: #aaa;
}

.padbtm{
	padding-bottom:20px;
}
